Source: neovim
Section: editors
Priority: optional
Maintainer: Robert W. Current <robert.current@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake (>= 3.16), ninja-build, pkg-config, gettext, libluajit-5.1-dev, libmsgpack-dev, libtermkey-dev, libvterm-dev, libunibilium-dev, libtree-sitter-dev
Standards-Version: 4.6.2
Homepage: https://neovim.io/
Rules-Requires-Root: no

Package: neovim
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Vim-fork focused on extensibility and usability
 Neovim is a refactor, and sometimes redactor, of the Vim editor.
 Neovim supports all the features of Vim with some additional
 features and improvements.
 .
 This package contains the main nvim binary and supporting files.
